/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;600;800;900&display=swap');

/*Variáveis*/

:root {
    --color-bg-1: #b1ceaf;
    --color-bg-2: #77eb6e;
    --color-bg-login: #353835;
    --color-font: #b1ceaf;
    --fonte-default:'Kanit', sans-serif;
  }

/*Reset CSS básico*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fundo da página e fundo do login*/

.div-login{
    background-color: var(--color-bg-login);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.div-bg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(var(--color-bg-1), var(--color-bg-2));
}

/*Escrita do login*/

.p-login{
    margin-bottom: 30px;
    font-family: var(--fonte-default);
    font-size: 2em;
    font-weight: 600;
    position: relative;
    color: var(--color-font);
}

/*Input de login*/

.input-box{
    position: relative;
    width: 250px;
    margin-bottom: 25px;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(102, 102, 102, 0.8);
    background-color: var(--color-bg-login);
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 1em;
    font-family: var(--fonte-default);
    transition: 0.5s ease;
}

.input-box span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: white;
    font-family: var(--fonte-default);
    transition: 0.5s ease;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: var(--color-font);
    font-size: .75em;
    padding: 0 7px;
    transform: translateX(10px) translateY(-7px);
    background-color: var(--color-bg-login);
    border-left: 1px solid var(--color-font);
    border-right: 1px solid var(--color-font);
    letter-spacing: 1px;
}

.input-box input:valid,
.input-box input:focus{
    border: 1px solid var(--color-font);
}



/*Botão Enviar*/

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    font-family: var(--fonte-default);
   }
   
   button.button-login {
    width: 12rem;
    height: auto;
   }
   
   button.button-login .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: var(--color-font);
    border-radius: 1.625rem;
   }
   
   button.button-login .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: black;
   }
   
   button.button-login .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.button-login .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.button-login .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: white;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

/*Parte para registro*/

.opcoes-registro{
    margin-top: 20px;
    font-family: var(--fonte-default);
    color: white;
    text-decoration: none; 
    text-align: center;
    
}

.button-register{
    font-family: var(--fonte-default);
    color: white;
    bottom: 3px;
    text-decoration: underline;
    transition: .2s;
}

.button-register:hover{
    color: var(--color-font);
}